*{
    margin: 0;
    padding: 0;
}
body{
    background-color: bisque;
}
.header{
    max-width: 100%;
    padding:0 20px 0;
    background-color: grey;
}
.container_header{
    display: flex;
}
.container_header ul li{
float:left;
list-style-type: none;
margin: 0 15px;


}
.container_header .menu{
    margin-left: 750px;
}
.container_header ul li a{
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 20px 20px 25.5px ;
}
.container_header ul li a:hover{
    background-color: rgb(89, 88, 88);
    color: bisque;
}
.container_header .logo {
    margin: 0 30px;
}
.container_header .logo img{
    width: 60px;
    height: auto;
}


.option_container .content h1{
    text-align: center;
    margin-top: 165px;
    font-size: 50px;
    font-weight: 10px;
}

.option_container .input_button{
    padding: 20px;
    width: 90%;
    margin-left: 250px;
}

.option_container .input_button input{
    padding : 5px;
    font-size: 20px;
}

input[type = text]{
    width: 60%;   
} 

button{
    width: 100px;
    border-radius: 10px;
    border-width: 1px;
    height: 35px;
    background-color: #F0D1EB;
}

.option_container .input_button button{
    font-size: 24px;
}

.table{
    margin: 0 auto;
    height: 300px;
    width: 70%;
    background-color: aqua;
    border-radius: 10px;
}

.box{
    padding-top: 20px;
}

.line_inTable_1{
    margin: 0 auto;
    height: 20px; 
    width: 80%; 
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.table .line_inTable_1 .col_1 {
    height: 50px;
    text-align: center;
    float: left;
    padding-left: 90px;
}
.table .line_inTable_1 .col_2{
    text-align: center;
    float: right;
    padding-right: 90px;
}


.box_2{
    padding-top: 20px;
}
.box_2 .line_inTable_2{
    margin: 0 auto;
    height: 10px; 
    width: 77%; 
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.box_2 .line_inTable_2 .col_1 {
    height: 50px;
    text-align: center;
    float: left;
    padding-left: 75px;
}
.box_2 .line_inTable_2 .col_2{
    text-align: center;
    float: right;
    padding-right: 90px;
}
.box_2 .line_inTable_2 .col_2 span{
    font-size: 13px;
}

/* 
.option_container{
max-width: 40%;
display: flex;
margin: 50px auto;
padding:100px;
background-color: rgb(240, 248, 255);
border-radius: 10px;
border: 0px solid black;
box-shadow: 10px 1px 1px 1px gray;
}

.option_container div{
background-color: antiquewhite;
width: 150px;
height: 150px;
text-align: center;
border-radius: 10px;
border: 1px solid gray;

}
.option_container .option1{
    margin-right:auto ;
    
}
.option_container .option2{
    margin-left: auto;
}
.option_container div a{
    text-decoration: none;
    display: block;

    padding: 56px 3px 74px;
    color: black;
    font-size: 20px;
    
    
}
.option_container div:hover{
    transform: scale(1.1);
    border: 1px solid black;
    
} */